{% extends 'base.html' %}

{% block title %}
Все статьи на сайте
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Все статьи на сайте</h1>

    {% if articles|length > 0 %}
        {% for el in articles %}
        <div class="alert alert-secondary">
            <h2>{{ el.title }}</h2>
            <p>{{ el.intro }}</p>
            <p><b>Дата {{ el.date.date() }}</b></p>
            <a href="/posts/{{ el.id }}" class="btn btn-warning">Детальнее</a>
        </div>
        {% endfor %}
    {% else %}
    <div class="alert alert-dark" role="alert">
        У нас еще нет статей на сайте
    </div>
    {% endif %}
</div>
{% endblock %}