{% extends 'base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>{{ article.title }}</h1>
    <div class="alert alert-secondary">
        <p>{{ article.text }}</p>
        <p><b>Дата {{ article.date.date() }}</b></p>
        <a href="/posts/{{ article.id }}/delete" class="btn btn-danger">Удалить</a>
        <a href="/posts/{{ article.id }}/update" class="btn btn-success">Редактировать</a>
    </div>
</div>
{% endblock %}